@page "/"

<PageTitle>Index</PageTitle>

<header>
    <h1>ST Genetics Farm</h1>
</header>
<main>
    <div class="banner">
        <img src="https://www.travelwisconsin.com/uploads/blog/e2/e2ccbd6f-1070-4272-889b-cc7720bd664d-farm-scene-with-cows.jpg" alt="Banner Image">
    </div>
    <div class="message">
        <SurveyPrompt Title="This is a brief message about the website. Welcome!" />
    </div>
</main>
<footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
</footer>